
/* Styles globaux */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}


/* Navigation */
.nav
{
    position: fixed;
    top: 80px;
    bottom: 40px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 40px 20px;
    width: 200px;
    height: 77vh;

    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo img
{
    height: auto;
    width: 120px;
}

.menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.menu>a
{
    font-size: 20px;
}

.button
{
    color: #333;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s, padding-left 0.3s;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    text-align: center;
}

.button:hover
{
    background-color: #e0e0e0;
    padding-left: 25px;
}

.lang-switch
{
    color: #333;
    text-decoration: none;
    padding: 15px 20px;

    border: 2px solid #333;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 600;
    text-align: center;
    margin-top: auto;
}

.lang-switch:hover
{
    background-color: #333;
    color: #fff;
}


/* Section principale */
.page
{
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container1
{
    width: 25%;
    height: 70%;

    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation
{
    width: auto;
    height: auto;

    text-align: center;
}

.presentation h1
{
    font-size: 3.5rem;
    color: #333;
    font-weight: 300;
}

.presentation p
{
    font-size: 1.8rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}


/* Footer */
.footer
{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
}

.contenu_footer1
{
    display: block;
    justify-items: center;
    margin-left: 40px;
}

.titre_contact
{
    margin-bottom: 10px;
}

.image_contact
{
    height: 50px;
    width: fit-content;
    margin: 0;
    padding: 0 10px;
    padding-top: 6px;

    background-color: #474747;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap : 12px;

}

.img_footer:hover
{
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}

.img_footer
{
    width: 40px;
    height: 40px;
}

.contenu_footer2
{
    display: block;
    justify-items: center;
}

.boutique_texte
{
    padding: 20px 0;
}

.button2
{
    text-decoration: none;
    color: #ffffff;
    background-color: #2b2a2a;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 60px;
    margin: 0 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button2:hover
{
    background-color: #474747;
}

.contenu_footer3
{
    display: block;
    justify-items: center;
    margin-right: 40px;
}

.logo_footer
{
    height: 140px;
    width: 140px;
}